body {
    color: #999;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 1.80857;
}

.box{
	margin: 5px;
	padding: 5px;
	border: 2px solid #eeeeee;
}

.heading-box{
	margin: 5px;
	padding: 0px;
	background: #2196f3;
	color: #ffffff;
}

.col-xs-3, .col-xs-4, .container{
	padding-left: 2px;
	padding-right: 2px;
}

.heading{
	text-align: center;
}

button, .link{
	color: #ffffff;
	background: #2196f3;
	border: 1px solid #2196f3;
	margin: 5px;
}

.button-red{
	background: #e91e63;
	border: 1px solid #e91e63;
}

hr{
	color: #333333;
}

.fa, .fas, .far, .fal, .fab {
	font-size: 20px;
	padding: 0 5 0 5;
}
